In [0]:
import csv
import pandas as pd 
from sklearn.cluster import MeanShift
from collections import Counter
from scipy.spatial.distance import euclidean
from sklearn.cluster import MeanShift

In [4]:
with open("checkins.dat", 'r', encoding='utf-8') as f:
  data = pd.read_csv(f, sep='|', header=0, 
                     names=['id', 'user_id', 'venue_id', 'latitude', 'longitude', 'created_at'])

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
data = data[['latitude', 'longitude']]
refactored = pd.DataFrame(columns=['latitude', 'longitude'])

In [0]:
j = 0
for value in data.values:
  if not value[0].isspace():
    refactored.loc[j]  = [float(val.replace(' ', '')) for val in value]
    j += 1
  if j > 100000:
    break

In [0]:
model = MeanShift(bandwidth=0.1)

In [0]:
labels = model.fit_predict(refactored)

In [0]:
cnt = Counter(labels)

In [0]:
new_cnt = {}
for cluster, points in cnt.items():
  if points > 15:
    new_cnt[cluster] = points

In [31]:
print(len(cnt))
print(len(new_cnt))

3231
592

In [34]:
len(model.cluster_centers_) # centers of clusters

3231

In [0]:
new_cnt # labels of clusters with more then 15 points in it {label: number_of_points}

In [0]:
offices = pd.DataFrame([[33.751277, -118.188740], [25.867736, -80.324116], [51.503016, -0.075479], 
                     [52.378894, 4.885084], [39.366487, 117.036146], [-33.868457, 151.205134]],
                     columns=['latitude', 'longitude'])

In [59]:
offices

    latitude   longitude
0  33.751277 -118.188740
1  25.867736  -80.324116
2  51.503016   -0.075479
3  52.378894    4.885084
4  39.366487  117.036146
5 -33.868457  151.205134

In [0]:
mapping = {}
for i, office_coord in enumerate(offices.values):
  label = model.predict([office_coord])
  distance = euclidean(office_coord, model.cluster_centers_[label])
  mapping[i] = (label, distance)

In [69]:
mapping

{0: (array([51]), 0.07084773242717576),
 1: (array([419]), 0.02267406615838222),
 2: (array([58]), 0.05005829482278787),
 3: (array([370]), 0.009353316185992226),
 4: (array([1980]), 0.30330785270578964),
 5: (array([420]), 0.007834758163107856)}

In [70]:
model.cluster_centers_[370]

array([52.37296399,  4.89231722])

In [0]:
with open('answer.txt', 'w') as f:
  f.write('52.37296399 4.89231722')